# Core modules (mandatory)
jupyterlite-core==0.7.1
jupyterlab~=4.5.1
notebook~=7.5.1

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.7.0

# JavaScript kernel (optional)
jupyterlite-javascript-kernel==0.3.0

# Language support (optional)
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-zh-CN

# P5 kernel (optional)
jupyterlite-p5-kernel==0.1.0

# JupyterLab: Fasta file renderer (optional)
jupyterlab-fasta>=3.3.0,<4

mast-aladin==0.0.2
jdaviz==5.0.1
